body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(classroom.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

body {
	animation: transitionIn 0.75s;
}

@keyframes transitionIn {
	from {
		opacity: 0;
		transform: rotateX(-10deg);
	}
	to {
		opacity: 1;
		transform: rotateX(0);
	}
}


.forms_box {
	width: 360px;
	padding: 10% 0 0;
	margin: auto;
}


.forms {
	position: relative;
	z-index: 1;
	background: rgba(100, 86, 67, 0.7);
	max-width: 360px;
	margin: 0 auto 10px;
	padding: 45px;
	text-align: center;
}

.forms input {
	font-family: "Geneva", sans-serif;
	outline: 1;
	background: #F2F2F2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 16px;
}

.error-text {
   
    color: #FF0000;
    text-align: center;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
                             
}

.success-text {
   
    color: 	#FFFF00;
    text-align: center;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
                             
}

@-webkit-keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}
         
	@keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}
         
.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}

.signup_form button{
	font-family: "Geneva", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #FFA527;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFDCAA;
	font-size: 20px;
	cursor: pointer;
  
}
.login_form button{
	font-family: "Geneva", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #8B734F;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFDCAA;
	font-size: 20px;
	cursor: pointer;
  
}