body {
	font-family: "Garamond";
	margin: 0;
	padding: 0;
}
.error-text {
   
    color: #FF0000;
    text-align: center;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	font-size: 20px;
                             
}

.success-text {
   
    color: 	#FFFF00;
    text-align: center;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
                             
}

@-webkit-keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}
         
	@keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}
         
.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}

.header {
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(bg4.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Garamond";
	font-size: 35px;
}

h1 {
	text-align: center;
	color: #FFDCAA;
	margin-bottom: 70px;
	letter-spacing: 2px;
	font-size: 60px;
	font-weight: bold;
}

span {
	color: #ffa527;
	font-size: 80px;
}

.form_box {
	background: rgba(255, 220, 170, 0.3);
	padding: 30px 50px;
	text-align: center;
}

.email_input {
	margin-top: 30px;
	font-family: "Garamond";
	font-size: 20px;
	width: 350px;
	height: 50px;
	padding: 10px;
}

.search_button1 {
	height: 70px;
	width: 350px;
	background: #FFA527;
	color: #FFDCAA;
	border: none;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 40px;
	margin-top: 8px;
}


.search_button {
	height: 70px;
	width: 350px;
	background: #FFA527;
	color: #FFDCAA;
	border: none;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 40px;
	margin-top: 70px;
}
