Here are all the users:
<ul>
<% users.forEach( (user) => { %>

<li> <b>Name</b> = <%= user.name %>,
     <b>Email</b> = <%= user.username %>, 
     <b>School</b> = <%= user.school %>, 
     </li>

<% }); %>
</ul>


