<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 -->

<head>
  <title>Delete Teacher</title>
  <link rel="stylesheet" type="text/css" href="public/css/delete_teacher.css">
</head>
<body>
  <%- include ('partials/header') %>
  <div class="header">
    <div class="card">
      <h1>User deleted!</h1>
	  <h2><%= data %></h2>
    </div>
  </div>
</body>

<!-- <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><button>Contact</button></p> -->
<!-- </div> -->