<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html>

    <head>
        <title>Find profile by teacher result</title>
    </head>
    

<style>
    body {
        background: #8B734F;
        font-family: fantasy;
        color: white;
        padding: 30px;
    }

    h1 {
        font-size: 48px;
        text-transform: uppercase;
        text-align: center;
    }

    p {
        font-size: 16px;
        text-align: center;
    }
</style>

<body>
    <%- include ('partials/header') %>

    <p> Here you go: <%= data.name %>, <%= data.email%> </p>

</body>


</html>