<!-- views/pages/index.ejs -->

<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="public/css/home.css">
</head>

<body>
    <%- include ('partials/header') %>

    <div class="container-box">
        <div class="container">
            <h1>Welcome to Swap Swap! </h1>
            <p>Brought to you by Rosa, Max, Alex, KK, Ally</p>
            <p>Sponsored by Jeffrey</p>
        </div>
    </div>

</body>


</html>