<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html>

    <head>
        <title>Temp Page</title>
    </head>
<style>
    body {
        background: salmon;
        font-family: fantasy;
        color: white;
        padding: 30px;
    }

    h1 {
        font-size: 48px;
        text-transform: uppercase;
        text-align: center;
    }

    p {
        font-size: 16px;
        text-align: center;
    }
</style>

<body>
    <h1>Welcome <%= data.name %> </h1>
    <p>Brought to you by Rosa, Max, Alex, KK, Ally</p>
    <p>Sponsored by Jeffrey</p>


</body>


</html>